<section class="hero">
    <img src="../assets/images/home1.jpg" alt="Food Delivery Background">
    <div id="overlay"></div> <!-- Overlay for better readability -->
    <div id="about">
        <h1>Get Your Food <br> At Your Door Step Free<br> Delivery</h1>
        <div class="button-container">
            <button id="register" type="submit" routerLink="/register">Register Here</button>
            <button id="login" type="submit" routerLink="/signin">Login Here</button>
        </div>
    </div>
</section>
