<footer class="footer">
    <div class="footer-content">
        <p class="brand-name">The Food Express</p>
        <div class="social-icons">
            
            <a href="https://www.facebook.com/login/" class="social-link" target="_blank">
                <img src="../assets/images/facebook.png" alt="Facebook" height="30px">
            </a>
            <a href="https://www.instagram.com/accounts/login/" class="social-link" target="_blank">
                <img src="../assets/images/instagram.png" alt="Instagram" height="30px">
            </a>
            <a href="https://twitter.com/i/flow/login" class="social-link" target="_blank">
                <img src="../assets/images/twitter.png" alt="Twitter" height="30px">
            </a>
        </div>
        <nav class="footer-nav">
            <ul class="footer-links">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>
        </nav>
        <div class="footer-bottom">
            <p>&copy; 2024 The Food Express. All rights reserved.</p>
        </div>
    </div>
</footer>
